<div class="w-full h-full overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
  <div class="flex h-full antialiased text-gray-800 min-h-0">
    <div class="flex flex-row h-full w-full min-h-0 overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mute">

      <app-contacts> </app-contacts>
      <!--Codigo dado por chatgpt <div class="w-full h-full overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
        <div class="flex h-full antialiased text-gray-800 min-h-0">
          <div class="flex flex-row h-full w-full min-h-0 overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
            <app-contacts></app-contacts>
            <app-messages></app-messages>
          </div>
        </div>
      </div> -->
      <app-messages></app-messages>

    </div>
  </div>
</div>
