<div class="w-full h-full overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted"
  style="height: calc(100vh - 165px);">
  <div class="flex h-full antialiased text-gray-800 min-h-0">
    <div
      class="flex flex-col md:flex-row h-full w-full min-h-0 overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <!-- Sidebar -->
      <div
        class="flex flex-col py-1 pl-6 pr-2 md:w-64 bg-background rounded-lg shadow-lg flex-shrink-0 h-full overflow-y-auto overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mute">
        <div class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-2 px-4 rounded-lg">
          <div class="h-20 w-20 rounded-full border overflow-hidden">
            <img src="avatars/avatar_web.webp" alt="Avatar" class="h-full w-full" />
          </div>
          <div class="text-sm font-semibold mt-2">{{userName}}</div>
          <div class="text-foreground text-xs text-gray-500">{{userRole}}</div>
        </div>
        <div class="flex flex-col mt-4">
          <div class="flex flex-row items-center justify-between text-xs">
            <span class="text-foreground text-foreground font-bold">Active Conversations</span>
            <span class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full">{{contacts.length}}</span>
          </div>
          <div
            class="flex flex-col space-y-1 mt-4 -mx-2 h-full overflow-y-auto overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-mute">
            <!-- Conversaciones activas -->
            <button class="flex flex-row items-center hover:bg-background rounded-xl p-2"  *ngFor="let contact of contacts">
              <div class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                {{contact.alias}}
              </div>
              <div class="text-foreground ml-2 text-sm font-semibold">{{contact.name}}</div>
            </button>
            <!-- Fin Conversaciones activas -->
          </div>
        </div>
      </div>
      <!-- Chat -->
      <div class="flex flex-col py-1 flex-auto h-full p-6">
        <div class="flex flex-col flex-auto flex-shrink-0 rounded-lg bg-background h-full p-4">
          <div #scrollContainer
            class="flex flex-col h-full overflow-x-auto mb-4  scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
            <div class="flex flex-col h-full">
              <div class="grid grid-cols-12 gap-y-2">
                <!-- Mensajes -->
              </div>

              <div class="grid grid-cols-12 gap-y-2">
                <div *ngFor="let message of messages"
                  [ngClass]="message.sender === userName ? 'col-start-6 col-end-13' : 'col-start-1 col-end-8'"
                  class="p-3">
                  <div
                    [ngClass]="message.sender === userName ? 'flex items-center justify-start flex-row-reverse' : 'flex flex-row items-center'">

                    <!-- Avatar -->
                    <div
                      class="text-foreground flex items-center justify-center h-10 w-10 rounded-full bg-primary flex-shrink-0">
                      <!-- {{ message.sender === userName ? message.alias : message.alias }} --> {{message.alias}}
                    </div>

                    <!-- Texto del mensaje -->
                    <div [ngClass]="message.sender === userName ? 'mr-3' : 'ml-3'"
                      class="text-foreground relative text-sm bg-background py-2 px-4 shadow rounded-xl">
                      <div>{{ message.text }}</div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Input y Botón de Enviar -->
          <div class="flex flex-row items-center h-16 rounded-xl bg-background w-full px-4">
            <div class="flex rounded-lg w-full">
              <form (ngSubmit)="sendMessage()" [formGroup]="form" class="flex rounded-lg w-full">
                <div class="flex-grow ml-4">
                  <div class="relative w-full">
                    <input type="text" formControlName="newMessageText"
                      class="flex w-full border rounded-xl focus:outline-none focus:border-primary pl-4 h-10"
                      placeholder="Mensaje de texto" />
                  </div>
                </div>
                <div class="ml-4">
                  <button (click)="sendMessage()"
                    class="text-foreground flex items-center justify-center bg-primary hover:bg-primary rounded-xl px-4 py-1 flex-shrink-0">
                    <span>Send</span>
                    <span class="ml-2">
                      <svg-icon src="icons/heroicons/outline/send-svgrepo-com.svg" [svgClass]="'h-6 w-6'"> </svg-icon>
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
