<app-skeleton-loader
  *ngIf="isSkeletonLoader"
  [lines]="5"
  [showCircle]="true"
  lineHeight="h-5"
  lineWidth="w-4/4"
></app-skeleton-loader>
<form
  class="my-10 space-y-6"
  *ngIf="!isSkeletonLoader"
  [formGroup]="form"
>
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">
      Registrarse <span class="text-primary">!</span>
    </h2>
  </div>
  <div class="space-y-3 text-left">
    <div class="form__group">
      <div class="relative">
        <input
          type="text"
          id="email"
          [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }"
          class="peer block"
          placeholder=" "
          formControlName="email"
        />
        <label
          for="email"
          [ngClass]="{
            'peer-focus:text-destructive!': submitted && f['email'].errors
          }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
        >
          Correo electrónico
        </label>
      </div>
      <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
        <div *ngIf="f['email'].errors['required']">Campo obligatorio</div>
        <div *ngIf="f['email'].errors['email']">
          El correo electrónico debe ser una dirección de correo electrónico
          válida
        </div>
      </div>
    </div>
    <div class="form__group">
      <div class="relative">
        <input
          [type]="passwordTextType ? 'text' : 'password'"
          id="password"
          [ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }"
          class="peer block"
          placeholder=" "
          formControlName="password"
        />
        <label
          for="password"
          [ngClass]="{
            'peer-focus:text-destructive!': submitted && f['password'].errors
          }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
        >
          Contraseña
        </label>
        <span
          class="text-muted-foreground absolute top-2.5 right-5 cursor-pointer"
          (click)="togglePasswordTextType()"
        >
          <svg-icon
            [src]="
              !passwordTextType
                ? 'icons/heroicons/outline/eye-off.svg'
                : 'icons/heroicons/outline/eye.svg'
            "
            [svgClass]="'h-5 w-5'"
          >
          </svg-icon>
        </span>
      </div>
      <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
        <div *ngIf="f['password'].errors['required']">Campo obligatorio</div>
      </div>
    </div>
    <!-- Password Meeter -->
    <ul *ngIf="form.value.password" class="text-xs text-muted-foreground mt-2 space-y-1">
      <li [class.text-green-500]="passwordStrength[0]">✔ 8 caracteres mínimo</li>
      <li [class.text-green-500]="passwordStrength[1]">✔ Al menos una mayúscula</li>
      <li [class.text-green-500]="passwordStrength[2]">✔ Al menos un número</li>
      <li [class.text-green-500]="passwordStrength[3]">✔ Al menos un símbolo</li>
    </ul>
    <div class="form__group">
      <div class="relative">
        <input
          [type]="verifyPasswordTextType ? 'text' : 'password'"
          id="confirm-password"
          [ngClass]="{
            'is__invalid-input': submitted && f['verifyPassword'].errors
          }"
          class="peer block"
          placeholder=" "
          formControlName="verifyPassword"
        />
        <label
          for="confirm-password"
          [ngClass]="{
            'peer-focus:text-destructive!':
              submitted && f['verifyPassword'].errors
          }"
          class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2"
        >
          Confirmar contraseña
        </label>
        <span
          class="text-muted-foreground absolute top-2.5 right-5 cursor-pointer"
          (click)="verifyPasswordTextType = !verifyPasswordTextType"
        >
          <svg-icon
            [src]="
              !verifyPasswordTextType
                ? 'icons/heroicons/outline/eye-off.svg'
                : 'icons/heroicons/outline/eye.svg'
            "
            [svgClass]="'h-5 w-5'"
          >
          </svg-icon>
        </span>
      </div>
      <div *ngIf="submitted && f['verifyPassword'].errors" class="is__invalid-error">
        <div *ngIf="f['verifyPassword'].errors['required']">Campo obligatorio</div>
      </div>
    </div>
  </div>
  <div class="form__group">
  <div class="flex items-center justify-between space-x-3">
    <div class="flex items-center gap-1">
      <input id="accept-term" name="accept-term" type="checkbox" formControlName="acceptTerms" />
      <label for="accept-term" class="text-muted-foreground ml-2 block text-sm">
        Acepto los
      </label>
      <app-button (click)="term()" impact="none" tone="primary" shape="rounded" size="small">
        Términos y condiciones
      </app-button>
    </div>
  </div>
  <div *ngIf="submitted && f['acceptTerms'].errors" class="is__invalid-error">
    <div *ngIf="f['acceptTerms'].errors['required']">Campo obligatorio</div>
  </div>
</div>

  <!-- Submit Button -->
  <div>
    <app-button
      full
      [loading]="isSubmit"
      impact="bold"
      tone="primary"
      shape="rounded"
      size="medium"
      (click)="onSubmit()"
      >Crear</app-button
    >
  </div>

  <!-- Sign-up -->
  <div class="text-muted-foreground flex items-center text-sm">
    ¿Ya tienes una cuenta?
    <app-button
      routerLink="/auth/sign-in"
      impact="none"
      tone="primary"
      shape="rounded"
      size="small"
    >
      Iniciar sesión
    </app-button>
  </div>
</form>
